*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box;
     */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: black;
}
.mainNetflixContainer{
    /* border: 2px solid red; */
    /* padding: 0rem 2rem; */
    position: relative;
 
}
.backgroundContainer{
    background-image: url("./bannerimage.jpg");
    filter: blur(16px);
    height: 100vh;
    position: relative;
}

.pinkOverlay{
    background-color: rgba(143, 26, 46, 0.404);
    height: 100%;
    width: 100%;
}

.contentContainer{
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, .5);
    padding: 2rem;
}


nav{
    /* border: 2px solid green; */
    height: 20vh;
}
.upperNavbarSection{
    /* border: 2px solid blue; */
    display: flex;
    height: 50%;
}
.upperNavbarLeftSection{
    /* border: 2px solid red; */
    width: 50%;
}
.netflixLogo{
    width: 29%;
}
.upperNavbarRightSection{
    /* border: 2px solid green; */
    width: 50%;
}

.navBarButtonContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border: 2px solid green; */
    height: 100%;
}
.languageButton{
    display: flex;
    padding: .4rem .8rem;
    border-radius: 50px;
    background: transparent;
    border: 1px solid white;
    outline: none;
    color: white;
    font-size: 1rem;
}

.signinButton{
    background-color: #fff;
    padding: .4rem .8rem;
    border-radius: 50px;
    outline: none;
    border: none;
    margin-left: 10px;
    font-size: 1rem;
}
.languageButton p{
    margin-left: 5px;
}

.lowerNavbarSection{
    /* border: 2px solid red; */
    height: 50%;
    color: white;
    display: flex;
    justify-content: center;
}

.menuList{
    /* border: 2px solid green; */
    width: 30%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 2px 3px 14px rgba(0, 0, 0, .5);
    height: 7vh;
}
.menuList li{
    /* border: 2px solid red; */
    height: 100%;
    display: flex;
    align-items: center;
}
.bannerSection{
    /* border: 2px solid red; */
    height: 90vh;
    background-image: url("./bannerimage.jpg");
    background-size: 100% 100%;
    border-radius: 20px;
    position: relative;
}
.overlay{
    height: 100%;
    width: 100%;
    background-image:linear-gradient( rgba(0,0,0,.3), rgba(0,0,0,.7),black);
    border-radius: 20px;
      
}
.bannerContainer{
    /* border: 2px solid red; */
    height: 80%;
    width: 100%;
    position: absolute;
    bottom: 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bannerContainer h2{
    font-size: 4rem;
    /* border: 2px solid green; */
    width: 50%;
    text-align: center;
}
.bannerContainer h4{
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.bannerContainer p{
    font-size: 1rem;
    margin: 20px;

}
.inputContainer{
    /* border: 2px solid green; */
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
.emailInputBox{
    padding: 1rem;
    border-radius: 50px;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
    width: 60%;
    color: white;
    font-size: 1rem;
}
.emailInputBox::placeholder{
    color: white;
}
.getStartedButton{
    width: 30%;
    background-color: red;
    border: none;
    outline: none;
    border-radius: 50px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 900;
}

.carouselSection,
.planSection{
    /* border: 2px solid red; */
    color: white;
}
.carouselSection h2,
.planSection h2{    
    /* border: 2px solid red; */
    margin-left: 5rem;
    font-size: 2.5rem;
}
.carouselCardContainer,
.plansContainer,
.reasonsContainer{
/* .faqCardsContainer{ */
    /* border: 2px solid green; */
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    margin: 2rem auto;
    gap: 20px;
}
.carouselCard{
    width: 12%;
    /* border: 2px solid yellow; */
    height: 40vh;
    border-radius: 20px;
    position: relative;
}
.carouselNumberContainer{
    position: absolute;
    left: -20px;
}

.carouselNumberContainer span{
    color: rgba(0, 0, 0, 0.8);
    -webkit-text-stroke: 0.125rem rgb(255, 255, 255);
    text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
    font-size: 4rem;
}

.carouselImageContainer{
    width: 100%;
    height: 100%;
}
.carouselImageContainer img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.planCard, 
.reasonCard {
    border: 2px solid green;
    height: 38vh;
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-radius: 20px;
}
.reasonTojoinSection h2{
    color: white;
    margin-left: 5rem;
    font-size: 2.5rem;
}
.reasonCard{
    background: linear-gradient( 149deg, #192247 0%, #210e17 96.86% );
    border: none;
    height: 35vh;
}
.reasonCard h2 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-bottom: 10px;
}

.reasonCard p {
    font-size: 0.9rem;
    color: white;
}

.reasonCardLowerContent{
   height: 50px;
   width: 50px;
   text-align: end;
}
.reasonCardLowerContent img{
   display: flex; 
   justify-content: end;
   height: 50px;
   width: 50px;
   text-align: end;
}

.faqSection{
    color: white;
}
.faqSection h2{
    margin-left: 5rem;
    font-size: 1.9rem;
}
.faqCardsContainer{
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    margin: 2rem auto;
}

.faqCard{
    border: 2px solid red;
    width: 100%;
}
.faqQuestion,
.faqAnswer{
    padding: 2rem;
    border-radius: 10px;
    /* border: 1px solid white; */
    margin-bottom: 20px;
    background-color: #2e2e2e;
    align-items: center;
}
.faqQuestion {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.faqQuestion span{
    font-size: 2rem;
    font-weight: 900;
}
/* .faqQuestion span:hover */










